.vi-special-block-image {
  display: block;
  width: 200px;
  height: 67px;
  margin: 0 auto;
  cursor: pointer;
  border: 0 !important;
  background-color: transparent !important;
  background-image: url(../images/special.png) !important;
  background-repeat: no-repeat;
  font-size: 0 !important;
}

.vi-normal-block-image {
  display: block;
  width: 185px;
  height: 72px;
  margin: 0 auto;
  cursor: pointer;
  border: 0 !important;
  background-color: transparent !important;
  background-image: url(../images/normal.png) !important;
  background-repeat: no-repeat;
  font-size: 0 !important;
}

.vi-special-block-text,
.vi-normal-block-text {
  border: 0 !important;
  background-color: transparent !important;
  background-image: none !important;
}
